@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.BannerContainer {
  background-color: #fa9200;
  text-align: center;
  white-space: nowrap;
  height: 100%;
  position: 'fixed';
}

.Logo {
  background-color: #4793ff;
  color: white;
  border-radius: 10px;
  font: 5vw "Playfair Display";
  padding-right: 1vw;
}
