@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.BannerContainer {
  background-color: #fa9200;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  white-space: nowrap;
  height: 5%
}

.Logo {
  background-color: #4793ff;
  border-radius: 10px;
  float: left;
  font: 25px "Playfair Display";
  padding: 10px;
  width: 250px;
  align-items: center;
}

.NavigationContainer {
  z-index: 1000;
  margin-left: 300px;
  white-space: nowrap;
  overflow-wrap: break-word;
}

.Link {
  padding-right: 30px;
}
