.Counselor {
  text-align: center;
}

.Counselor-header {
  background-color: #716E76;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container {
  border: 2px solid black;
  padding: 20px;
  background-color: #290A5F;
  width: 50%
}

.Image {
  height : 50%;
  width: 100%
}
